*{
    margin:0;
    padding:0;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(172, 172, 228);
    font-size: 1.3em;
    width:100vw;
    height:100vh;
}
header{
    text-align: center;
    margin-top:20px;
}
section>div#formGradient{
    width:100%;
    margin:auto;
    margin-top:20px;
    padding:10px;
    border:1px solid black;
    height:500px;
    border-radius: 10px;
    box-shadow:4px 4px 0px rgba(0, 0, 0, 0.379);
    background: linear-gradient(to bottom,rgba(132, 16, 132, 0.406), rgba(34, 34, 143, 0.979));
}
section{
    margin:auto;
    width:80vw;
}


input#verificar{
    font-size:1em;
    padding:8px;
    border-radius:30px;
    width:100%;
    background-color: rgba(0, 0, 0, 0.755);
    color:rgba(200, 128, 228, 0.773);
    margin-top:10px;
    cursor: pointer;   
}
input#verificar:disabled{
    cursor: no-drop;
}
input#iano{
    border-radius:30px;
    font-size:15px;
    margin-top:10px;
    text-align: center;
}
form>input{
    margin-top:10px;
}

section>div#imagem{
    height:300px;
    width:300px;
    border-radius:50%;
    background-size: cover;
    margin:auto;
    margin-top:10px;
    border:1px solid #000;
    display:none;
}

section>div>p{
    text-align: center;
    margin-top:20px;
    width:100%;
    
    
}